html, body{
    height: 100%;
    font-family: 'Lato', sans-serif;
}

#Principal{
    background-color: #7F7F7F;
    height: 100%;
    width: 100%;

    /* posicionar los hijos */
    display: flex;
     /* centra horizontal*/
    justify-content:center;

    /* centra vertical*/
    align-items:center;
}

.card{
    /*
        1. centrado horizontal y vertical (en flex las propiedades van en el padree)
        2. Alto y ancho definidos
    */
    height: 95vh;
    width: 400px;
    background-color: #EBEBEB;
}



/*
    1. definir un tamaño al contenedor
    2. definir a la imagen el mismo tamaño
*/
.contenedor-imagen{
    height: 250px;
    width: 300px;
    min-width: 100%;
    background-image: url("https://www.guatemala.com/fotos/201709/La-Estancia-1-885x500.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgb(90,90,90);
    background-blend-mode:soft-light;
}

.contenedor-imagen img{
    width:100%;
    height:100%;

    /* limita el maximo del ancho y el alto*/
    max-width: 100%;
    max-height: 100%;
}

/*
    1. al contenedor darle espacio
    2. cambiarle color al texto
    3. importar una nueva fuente -> estilo de texto
    4. colocar borde al contenedor
*/

.contenedor-titulo{

    /*espacio adentro*/
    padding: 10px;

    /*espacio afuera del elemento*/
    margin: 10px;

    border-bottom: 2px solid #7F7F7F;

}

.titulo{
    color: #353831;
    /*
        esto es para subrayar
         text-decoration:underline;
    */

}


/* Hover sirve para indicar estilos cuando el cursor pase sobre el elemento */
.titulo:hover{
    font-size: 36px;

    /*Indica el tipo de cursor, pointer es para la manita */
    cursor:pointer;
}

#contenedor-iconos{
    /*
        1. darle padding  
        2. centrar los elementos
        3. ponerlos horizontalmente
    */

    padding: 10px 15px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

/*
    1. poner contenido en fila
    2. ponerle altura a los elementos
    3. darle espacio entre elementos 
*/

#div-iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenido-iconos{
    height: 50px;
    width: 50px;
    padding: 15px 15px 0px 15px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.contenido-iconos i{
    font-size: 24px;
}

.contenido-iconos p{
    color: #F20587;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
} 

#div-textos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenido-textos{
    margin-left: 10px;
}

.contenido-textos p{
    margin:0;
}




.precio{
    position: absolute;
    bottom: 15px;
    right:10px;
    color: #fff;
    font-size: 40px;
}

/*
    1. color padding al contenedor
    2. Cambiar el estilo y tamaño de fuente
    3. Diseñar el boton
*/

.contenedor-boton{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descripcion{
    font-size: 20px;
    line-height: 25px;
    font-weight: lighter;
}

/*
    1.moverlo al centro
    2. color de fondo
    3. borde
    4. borde redondeado
    5. cambiar el color del texto y quitarle el subrayado
*/

.boton{
    margin-top: 10px;
    background-color: #F20587;
    color: white;
    text-decoration: none;
    font-size: 20px;

    /*
        -top
        -bottom 
        - right
        - left
    */
    padding: 10px 50px;
    border: 1px solid transparent;

    /* 50% hace un circulo -> importante el ancho y alto tienen que ser iguales*/
    border-radius: 5px;
}

/*    HOVER */
.boton:hover{
    background-color:  #F26887;
    color: black;
    font-size: 24px;
}

/* Clases de utilidad */

/* Esta clase quita los margenes*/
.no-margen{
    margin: 0px;
}

.margin-top{
    margin-top:1em;
}

